<footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
    <div class="border-t border-slate-900/5 py-10">
        <a href="https://github.com/THEGOLDENPRO">
            <img class="mx-auto h-12 w-auto text-slate-900 rounded-full" src="https://avatars.githubusercontent.com/u/66202304">
        </a>

        <p class="mt-5 text-center text-sm leading-6 text-exeGray">
            © 2023 Goldy. All rights reserved.
        </p>

        <div class="mt-5 flex items-center justify-center space-x-4 text-sm font-semibold text-goldyCream">
            <a href="https://github.com/THEGOLDENPRO/goldy-exe">Source Code</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a href="https://github.com/THEGOLDENPRO/goldy-exe/releases">Changelog</a>
            <div class="h-4 w-px bg-slate-500/20"></div>
            <a href="https://github.com/THEGOLDENPRO/goldy-exe/blob/master/LICENSE">License</a>
        </div>
    </div>
</footer>