@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Hacked-KerX";
    src: url("./fonts/Hacked-KerX.ttf");
}

@font-face {
    font-family: "atwriter";
    src: url("./fonts/atwriter.ttf");
}

@layer base {
    body {
        @apply text-white bg-exeBlack;
    }
}